<div id='home-content'>
	<section class='content'>
		<h1>Hello and Welcome</h1>

	</section>

	<section id="Intro">
		<p>My Name is Christopher Ross and I would like to introduce you to some of the work that
		I have been involved with.  My main focus is on different database projects that include
		creating OLTP databases from scratch along with different maintenance involved with them.
		Below you will find a more in depth view of some of my favorite projects, enjoy!</p>
	</section>
	<div id="selection">
		<a class= "col-sm-4" href="#/content" id="testPhoto">
			<img class="photos" src="../img/background.jpg"></a>
		<a class="col-sm-4" href="#/technical">
			<img class="photos" src="../img/bcd212f7e732cee62225749a1c4dd39e00c6c997.png"></a>
		<a class="col-sm-4" href="#/soon">
			<img class="photos" src="../img/HP-server.jpg"></a>
	</div>
</div>